:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #292830;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #33efab;
  text-decoration: inherit;
}
a:hover {
  color: #33efab;
}

a.druids {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a.druids:hover {
  color: #646cff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  background-color: white;
}

.flex {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}